
@import url('https://fonts.googleapis.com/css?family=Poppins');
@tailwind base;
@tailwind components;
@tailwind utilities;
 
body {
    margin: 0;
    padding: 0;
  height: 100%;
  background-color: #f8f4ee;
  font-size: 20px;
  font-family: "poppins";
}


.navbar{
    background-color: #E8DED1;
    border-radius: 10px 10px;
    height: auto;
    text-align: center;
    
}

.navTitle{
    justify-content: space-between;
    display: inline-block;
padding: 10px;
    color:#333;

}
.navTitlee{
   background-color: #D1C0A8;
   border-radius: 50%;
   display:inline-block;
   color:#333;
   font-size: 15px;
}
.navItem:hover{
   border-radius: 50px;
   background-color: #D1C0A8;
}
.navTitle:hover{
   border-radius: 50px;
  background-color: #D1C0A8;
}
.navBarLogo{
   justify-content: space-between;
   display: inline-block;
   height: 180px;
   width: 180px;
}
.bar{
    background-color: #E8DED1;
    color:#333;
    display: inline-block;
    border-radius: 50px 50px;
    width: auto;
    
}

    
 /*///////////////////////////////////////*/

   /*/////////////////////////////*/
   .leaflet-container1 {
      width: 100%;
      height: 50vh;
      margin-top: 10px;
      border-radius: 20px;
      
      box-shadow: #33333393 10px 10px 10px 10px;
    }

    .leaflet-containersmall {
      width: 100%;
      height: 24vh;
      margin-top: 10px;
      border-radius: 20px;
      
      box-shadow: #33333393 10px 10px 10px 10px;
    }
    .leaflet-container2 {
      width: 45%;
      height: 22vh;
      margin-top: 15px;
      border-radius: 20px;
      float: right;
      margin-top: 65px;
      
      box-shadow: #33333393 10px 10px 10px 10px;
    }
    .leaflet-container3 {
      width: 90%;
      height: 22vh;
      
      border-radius: 20px;
      box-shadow: #33333393 10px 10px 10px 10px;
    }
    /*
    .cluster-icon{
      height: 3rem;
      width:  3rem;
      border-radius: 50%;
      background-color: rgba(189, 119, 73, 0.63);
      transform: translate(-25%, -25%);
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 900;
      font-size: 1.5rem;
    }*/

    .popup-img{
      height: 100px;
      width: 100%;
      border-radius: 5px;
      object-fit: cover;
    }
    .popup-year{
    float: right;
    color: #555;
    
    }

    .homePage{
      background:#E8DED1;
      position:absolute;
      top:100px;
      right:0px;
      bottom:0px;
      left:0px;
    }

    /*///////////////////////////////*/
    
ol.users-list>li {
   box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
 }
 
 ol.users-list {
 
   list-style: none;
   padding-left: 1rem;
 }
 
 ol.users-list>li {
   background: white;
   border-radius: 0 0.5rem 0.5rem 0.5rem;
   display: flex;
   justify-content: space-between;
   margin-top: 1rem;
   min-height: 3rem;
   padding: 1rem 1rem 1rem 3rem;
   position: relative;
   margin-right: 1rem;
 }
 
 ol.users-list>li+li {
   margin-top: 2rem;
 }
 
 .listTitles {
   font-size: 10px;
   color: gray;
   font-weight: 700;
 }
 
 .details {
   font-size: 20px;
   max-width: 170px;
 }
 

/*////////////////////////////////////*/ 
ol.comments-list>li {
   box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
 }
 
 
 ol.comments-list>li {
   background: white;
   border-radius: 0 0.5rem 0.5rem 0.5rem;
   display: flex;
   justify-content: space-between;
   margin-top: 1rem;
   min-height: 3rem;
   padding: 0.1rem 1rem 0.5rem 1rem;
   position: relative;
   margin-right: 1rem;
 }
 
/*////////////////////////////////////*/
.custom-date-picker {
   font-family: 'Montserrat', sans-serif;
   color: #333;
   background-color: #fff;
   border: 1px solid #ddd;
   border-radius: 0.375rem;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }
 
 .react-datepicker__year-text {
   font-size: 1.25rem;
   font-weight: 500;
 }
 
 .react-datepicker__navigation--years-previous {
   border-right-color: #ddd;
 }
 
 .react-datepicker__navigation--years-upcoming {
   border-left-color: #ddd;
 }
 
 .react-datepicker__year-option {
   font-size: 1.125rem;
   padding: 0.5rem;
   transition: background-color 0.1s ease-in-out;
 }
 
 .react-datepicker__year-option:hover {
   background-color: #eee;
 }
 
 .react-datepicker__year-option--selected {
   color: #fff;
   background-color: #1a202c;
   border-radius: 0.375rem;
 }
 
 .react-datepicker__current-month {
   font-size: 1.125rem;
   font-weight: 500;
   padding: 0.5rem;
   border-bottom: 1px solid #ddd;
 }
 
 .shareicon {
   color: white;
   filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.753));
 }

 .shareiconMap {
   color: black;
   filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.534));
 }

/*//////////////////*/
.react-icon, .node-icon {
   margin: 0 5px;
 }
 
 .react-icon {
   color: #61dafb;
 }
 
 .node-icon {
   color: #3c873a;
 }
 
 .profile-photo {
   height: 100px;
   width: 100px;
   border-radius: 50%;
   margin: 10px;
 }
 
 .profile-link {
   color: #61dafb;
   text-decoration: none;
 }
 
 .profile-link:hover {
   text-decoration: underline;
 }

 /*//////////////////////////////*/
 button.MuiButton-root.date {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: #fff;
  background-color: #1976d2;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

div.MuiChip-root {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
  max-width: 100%;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 0.8125rem;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 32px;
  color: #fff;
  background-color: #1976d2;
  border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}
div.MuiChip-root.feed-chip {
  max-width: 100%;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.8125rem;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 24px;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  white-space: nowrap;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: default;
  outline: 0px;
  text-decoration: none;
  margin-right:1px ;
  font-family: sans-serif;
  border: 0px;
  padding: 0px;
  vertical-align: middle;
  box-sizing: border-box;
}