
@import url('https://fonts.googleapis.com/css?family=Poppins');
@tailwind base;
@tailwind components;
@tailwind utilities;
 
body {
    margin: 0;
    padding: 0;
  height: 100%;
  background-color: #f8f4ee;
  font-size: 20px;
  font-family: "poppins";
}


.navbar{
    
    height: auto;
    text-align: center;
    
}

.navTitle{
    justify-content: space-between;
    display: inline-block;
padding: 10px;
    color:#333;

}
.navTitlee{
   background-color: #D1C0A8;
   border-radius: 50%;
   display:inline-block;
   color:#333;
   font-size: 15px;
}
.navItem:hover{
   border-radius: 50px;
   background-color: #D1C0A8;
}
.navTitle:hover{
   border-radius: 50px;
  background-color: #D1C0A8;
}
.navBarLogo{
   justify-content: space-between;
   display: inline-block;
   height: 180px;
   width: 180px;
}
.bar{
    background-color: #E8DED1;
    color:#333;
    display: inline-block;
    border-radius: 50px 50px;
    width: auto;
    
}

    
 /*///////////////////////////////////////*/



      footer {
      margin-top: 150px;
      padding: 20px;
      background-color: #E8DED1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
   }

      .home .posts {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      gap: 150px;
      
   }
      .home .posts .post {
      display: flex;
      gap: 100px;
   }
      .home .posts .post:nth-child(2n + 1) {
      flex-direction: row-reverse;
   }
      .home .posts .post .img {
      flex: 2;
      position: relative;
   }
 

      .home .posts .post .content {
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
      .home .posts .post .content h1 {
      font-size: 48px;
   }
      .home .posts .post .content p {
      font-size: 18px;
   }
      .home .posts .post .content button {
      width: max-content;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      background-color: white;
      border: 1px solid teal;
      color: teal;
   }
      .home .posts .post .content button:hover {
      border: 1px solid white;
      background-color: #b9e7e7;
      color: black;
   }

   /*           SINGLE POST           */

      .single {
      display: flex;
      gap: 50px;
      margin-left: 2px;
      margin-right: 2px;
   }
      .single .content {
      flex: 5;
      display: flex;
      flex-direction: column;
      gap: 30px;
   }
      .single .content img {
      width: 100%;
      height: 300px;
      object-fit: cover;
   }
      .single .content .user {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 14px;
   }
      .single .content .user img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
   }
      .single .content .user span {
      font-weight: bold;
   }
      .single .content .edit {
      display: flex;
      gap: 5px;
   }
      .single .content .edit img {
      width: 20px;
      height: 20px;
      cursor: pointer;
   }
      .single .content h1 {
      font-size: 42px;
      color: #333;
   }
      .single .content p {
      text-align: justify;
      line-height: 30px;
   }
      .single .menu {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 25px;
   }
      .single .menu h1 {
      font-size: 20px;
      color: #555;
   }
      .single .menu .post {
      display: flex;
      flex-direction: column;
      gap: 10px;
   }
      .single .menu .post img {
      width: 100%;
      height: 200px;
      object-fit: cover;
   }
      .single .menu .post h2 {
      color: #555;
   }
      .single .menu .post button {
      width: max-content;
      padding: 7.5px 15px;
      border: none;
      cursor: pointer;
      color: teal;
      background-color: white;
      border: 1px solid teal;
   }
      .single .menu .post button:hover {
      border: 1px solid white;
      background-color: #b9e7e7;
      color: black;
   }
      .add {
      margin-top: 20px;
      display: flex;
      gap: 20px;
   }
      .add .content {
      flex: 5;
      display: flex;
      flex-direction: column;
      gap: 20px;
   }
      .add .content input {
      padding: 10px;
      border: 1px solid lightgray;
   }
      .add .content .editorContainer {
      height: 300px;
      overflow: scroll;
      border: 1px solid lightgray;
   }
      .add .content .editorContainer .editor {
      height: 100%;
      border: none;
   }
      .add .menu {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 20px;
   }
      .add .menu .item {
      border: 1px solid lightgray;
      padding: 10px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 12px;
      color: #555;
   }
      .add .menu .item h1 {
      font-size: 20px;
   }
      .add .menu .item .file {
      text-decoration: underline;
      
   }
      .add .menu .item .buttons {
      display: flex;
      justify-content: space-between;
   }
      .add .menu .item .buttons :first-child {
      
      color: teal;
      background-color: white;
      border: 1px solid teal;
      padding: 3px 5px;
   }
      .add .menu .item .buttons :last-child {
      
      color: white;
      background-color: teal;
      border: 1px solid teal;
      padding: 3px 5px;
   }
      .add .menu .item .cat {
      display: flex;
      align-items: center;
      gap: 2px;
      color: teal;
   }

   /*/////////////////////////////*/
   .leaflet-container {
      width: 100%;
      height: 60vh;
      margin-top: 15px;
      border-radius: 20px;
    }
    /*
    .cluster-icon{
      height: 3rem;
      width:  3rem;
      border-radius: 50%;
      background-color: rgba(189, 119, 73, 0.63);
      transform: translate(-25%, -25%);
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 900;
      font-size: 1.5rem;
    }*/

    .popup-img{
      height: 100px;
      width: 100%;
      border-radius: 5px;
      object-fit: cover;
    }
    .popup-year{
    float: right;
    color: #555;
    
    }

    .homePage{
      background:#E8DED1;
      position:absolute;
      top:100px;
      right:0px;
      bottom:0px;
      left:0px;
    }