$lightGreen: #b9e7e7;

@import "../mixins";
@import "../variables";
@import "../extensions";

.app {
  display: flex;
  justify-content: center;
  .container {
    width: 65%;

    .link {
      text-decoration: none;
      color: inherit;
    }
    //LOGIN & REGISTER


    //NAVBAR

 

    //FOOTER

    footer {
      margin-top: 100px;
      padding: 20px;
      background-color: #E8DED1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
 
    }

    //HOME

    .home {
     
      .posts {
        margin-top: 20px;
        display: flex;
        gap: 80px;
       

        .post {
          display: flex;
          gap: 100px;
 background-color: #ffffffce;
        border-radius: 10px 10px;
          &:nth-child(2n + 1) {
            flex-direction: row-reverse;
          }

          .img {
            position: relative;

         

            img {
              width: 70%;
              height: 100%;
              max-height: 100%;
              object-fit: cover;
              box-shadow: #1b1b1b88 -10px 10px 10px 10px ;
            }
          }

          .content {/*
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;*/

            h1 {
              font-size: 28px;
            }

            p {
              font-size: 18px;
            }

            button {
              width: max-content;
              padding: 10px 20px;
              border: none;
              cursor: pointer;
              background-color: white;
              border: 1px solid #D1C0A8;
              color: #000000;
              border-radius: 10px;

              &:hover {
                border: 1px solid white;
                border-radius: 10px;
                background-color: #D1C0A8;
                color: black;
              }
            }
          }
        }
      }
    }

    //SINGLE

    .single {
      display: flex;
      gap: 50px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 30px;

        img {
        
          width: 900px;
          height: 500px;
          object-fit:fill;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;
          img {
            width: 105%;
            height: 105%;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-weight: bold;
          }
        }

        .edit {
          display: flex;
          gap: 5px;

          img {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }

        h1 {
          font-size: 42px;
          color: #333;
        }

        p {
          text-align: justify;
          line-height: 30px;
        }
      }
      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 25px;

        h1 {
          font-size: 20px;
          color: #555;
        }

        .post {
          display: flex;
          flex-direction: column;
          gap: 10px;

          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
          }

          h2 {
            color: #555;
          }

          button {
            width: max-content;
            padding: 7.5px 15px;
            border: none;
            cursor: pointer;
            color: teal;
            background-color: white;
            border: 1px solid teal;

            &:hover {
              border: 1px solid white;
              background-color: $lightGreen;
              color: black;
            }
          }
        }
      }
    }

    //WRITE

    .add {
      margin-top: 20px;
      display: flex;
      gap: 20px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          padding: 10px;
          border: 1px solid lightgray;
        }

        .editorContainer {
          height: 300px;
          overflow: scroll;
          border: 1px solid lightgray;

          .editor {
            height: 100%;
            border: none;
          }
        }
      }
      .editor {
        height: 700px;
        border: none;
      }
      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
          border: 1px solid lightgray;
          padding: 10px;
          flex:1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 12px;
          color: #555;

          h1{
            font-size: 20px;
          }

          .file{
            text-decoration: underline;
            cursor:not-allowed;
          }

          .buttons{
            display: flex;
            justify-content: space-between;

            :first-child{
             // cursor: pointer;
              color: teal;
              background-color: white;
              border: 1px solid teal;
              padding: 3px 5px;
            }
            :last-child{
              cursor: pointer;
              color: white;
              background-color: teal;
              border: 1px solid teal;
              padding: 3px 5px;
            }
          }

          .cat{
            display: flex;
            align-items: center;
            gap: 2px;
            color: teal;
          }
        }
      }
    }
  }
}